@{
    ViewBag.Title = "Home Page";
}

<html>
<head>

</head>
<body>

    <h1>Home Page</h1>
    <h4>Table to show data temp</h4>

    <table id="airQuality">
        <thead>
            <tr>
                <th>Sensor Name: </th>
                <th>SenSor Location: </th>
                <th>Snesor Statues</th>
                <th>Sensor Latitude</th>
                <th>Sensor Longitude</th>
                <th>Ari PM2.5: </th>
                <th>Ari PM10: </th>
                <th>Ari PM1: </th>
                <th>Ari RH: </th>
                <th>Ari Temp: </th>
                <th>Ari Wind: </th>
                <th>Ari Aqi: </th>
                <th>Data Date: </th>

            </tr>
        </thead>

    </table>
    <!-- Include jQuery from CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/User/AirQuality.js"></script>

</body>
</html>
