@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <link href="~/Content/User/LogInCss.css" rel="stylesheet" type="text/css" />

</head>
<body>
    <h1>Welcome</h1>
    <form method="post" action="@Url.Action("Login","LogAccount")">
        <div>
            <label for="Name">Username:</label>
            <input type="text" id="Name" name="Name" required />
        </div>

        <div>
            <label for="Password">Password:</label>
            <input type="password" id="Password" name="Password" required />
        </div>
        @if (ViewBag.ErrorMessage != null)
        {
            <div style="color: red; font-weight: bold;">
                @ViewBag.ErrorMessage
            </div>
        }

        <div>
            <button type="submit">Login</button>
        </div>
    </form>
    <label>Not Signed In? Click the Link to Create an Account</label>

    @Html.ActionLink("Register", "CreateAccount", "Home")

</body>
</html>